a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #000;
    opacity: 0.75;
}

a:hover {
    text-decoration: underline;
}


ul, li {
    padding-left: 15px;
    display: inline-block;
    list-style: none;
}

input {
    margin: 10px;
}

#header .li-right-t {
    position: absolute;
    top: 0;
    right: 15px;
    
}

#main {
    display: block;
    margin: 0 auto;
    padding: 150px;
    width: 50%;
}

#footer {
    background-color: #f2f2f2;
    border-color: #e4e4e4;
    border: 2px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#footer .li-left-b {
    position: absolute;
    bottom: 0;
    left: 15px;
}

#footer .li-right-b {
    position: absolute;
    bottom: 0;
    right: 15px;
}

#footer2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    bottom: 40px;
    background-color: #f2f2f2;
    border-color: #e4e4e4;
    border: 2px;
    position: fixed;
    left: 0;
    text-align: left;
    width: 100%;
}

#footer2 #country {
    margin-left: 15px;
}

